version: '3.8'

services:
  app:
    build:
      context: .
      args:
        - VITE_SUPABASE_URL=https://ktscqzszscxeloihotdm.supabase.co
        - VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0c2NxenN6c2N4ZWxvaWhvdGRtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg1MzI2ODAsImV4cCI6MjA4NDEwODY4MH0.8eRFLZoEnyHmZ61KTrGoLOgPJ06JqnjtTGB4V-lo5nA
    ports:
      - "8080:80"
    restart: always
